/*
    TIC TAC TOE (the odin project)
    by Cahdmus

    Table of Contents:
        GENERAL
            shadows
            form
        HEADER
        GAMEBOARD
            general
            popup
            players
            board
        FOOTER
*/

/* GENERAL
----------------------------------------------- */
@import url(https://fonts.bunny.net/css?family=abel:400|abril-fatface:400|audiowide:400);

:root {
    --background-color: hsl(38, 66%, 83%);
    --secondary-background-color: hsl(35, 94%, 94%);
    --accent-color: hsl(23, 78%, 55%);
    --secondary-accent-color: hsl(40, 48%, 53%);
    --font-color: hsl(84, 33%, 19%);
    --header-gradient: hsl(82, 33%, 16%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    font-family: 'Abel', sans-serif;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface', display;
    letter-spacing: -.1rem;
    word-spacing: .8rem;
    text-transform: uppercase;
    margin: 1rem;
}

h2 {
    font-size: 1rem;
    margin-top: .5rem;
}

a {
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-decoration: none;
}

input {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--secondary-accent-color);
    padding: .8rem 1rem;
    border-radius: 20px;
    text-align: end;
    width: 5rem;
}

button {
    border: none;
    background-color: var(--secondary-accent-color);
    color: var(--secondary-background-color);
    padding: .5rem 1rem;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 1rem;
}

button:hover, .tile:hover {
    cursor: pointer;
}


    /* shadows
    ------------------------ */
input, button:hover, #board, .playerToken {
    -webkit-box-shadow: inset 0px 3px 24px -8px rgba(145, 112, 67, 0.3);
    -moz-box-shadow: inset 0px 3px 24px -8px rgba(145, 112, 67, 0.3);
    box-shadow: inset 0px 3px 24px -8px rgba(145, 112, 67, 0.3);
}
button, .tile, .box, #turnDisplay {
    -webkit-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, .4);
    -moz-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, .4);
    box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, .4);
}
header {
    -webkit-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, .6);
    -moz-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, .6);
    box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, .6);
}


    /* form
    ------------------------ */
#popup>h1>span {
    color: var(--accent-color);
}

#popup>#closeBtn {
    background-color: var(--font-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: .6rem;
    padding: .2rem .45rem;
    border-radius: 6px;
    margin: .5rem;
}

form {
    text-align: center;
}

form>.playersInfo {
    display: flex;
    justify-content: space-around;
}

form input {
    width: 100%;
    text-align: start;
}

fieldset {
    padding: 1rem;
    border: none;
    margin-top: 1rem;
}


/* HEADER
----------------------------------------------- */
header {
    background: var(--font-color);
    background: linear-gradient(180deg, var(--font-color) 40%, var(--header-gradient) 100%);
    color: var(--accent-color);
    font-size: 1.2rem;
}

header>h1>span {
    color: var(--secondary-background-color);
}


/* GAMEBOARD - MAIN CONTENT
----------------------------------------------- */

    /* general
    ------------------------ */
.box {
    border-radius: 15px;
    padding: 1rem;
    background-color: var(--secondary-background-color);
    margin: 2rem;
    font-family: 'Audiowide', display;
    text-transform: uppercase;
    height: fit-content;
    text-align: center;
    position: relative;
}

#gameboard {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    opacity: 0;
}

#boardSize,
#resetBtn {
    margin: 1rem;
}

main {
    display: flex;
    gap: 1rem;
}

#turnDisplay {
    background-color: var(--secondary-background-color);
    padding: .3rem 2rem .5rem 2rem;
    border-radius: 15px 15px 0 0;
    font-size: .5rem;
    text-transform: uppercase;
    color: var(--font-color)
}

#turnDisplay>h2>span {
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.player1 {
    color: var(--accent-color);
}
.player2 {
    color: var(--secondary-accent-color);
}


    /* popup
    ------------------------ */
#popup {
    position: absolute;
    width: 30%;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--secondary-background-color);
    opacity: 60%;
}


    /* players
    ------------------------ */
#players {
    display: flex;
    justify-content: space-around;
}

.playerToken {
    border-radius: 10px;
    width: 100%;
}

#player1>.playerToken {
    background-color: var(--accent-color);
}

#player2>.playerToken {
    background-color: var(--secondary-accent-color);
}

.playerInfo>p {
    color: var(--secondary-accent-color);
}

.playerInfo {
    padding: .5rem;
}

.playerInfo>h2 {
    color: var(--accent-color);
}


    /* board
    ------------------------ */
#board {
    background-color: var(--secondary-accent-color);
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    display: grid;
    gap: .3rem;
    padding: .5rem;
}

.tile {
    background-color: var(--secondary-background-color);
    min-width: 7rem;
    border-radius: 15px;
}

.tile:hover {
    background-color: var(--background-color);
}

.tile>img {
    width: 100%;
}


/* FOOTER
----------------------------------------------- */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
}

footer>#credit {
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
}

footer>#credit>img {
    border-radius: 100%;
    height: 80%;
    margin-right: .5rem;
}

footer>#credit>.desc {
    background-color: var(--secondary-accent-color);
    border-radius: 50px;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.swell {
    transition: all .2s ease-in-out;
}
.swell:hover {
    transform: scale(1.1);
}